# Laravel stuff
/public/hot
/public/storage
/public/tmp
/storage/*.key
/storage/debugbar
/vendor
/public/js/
/public/css/
/public/app/
.phpunit.result.cache
Homestead.json
Homestead.yaml
tinker.php
_ide_helper.php
tags

# Environments
.env
.env.backup

# Node JS
/node_modules

# Distribution / packaging
/packages
/public/build/manifest.json
public/build

# Log
/nginx/*.log
npm-debug.log
yarn-error.log

# IDE
.idea
